.form__select {
  color: gray;
  background-color: #e0ebeb;
  padding: 5px;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  margin: 0, auto;
}

.form__select:hover {
  cursor: pointer;
  background-color: #edf7f7;
  font-weight: bold;
}

.form__select:active {
  font-weight: bold;
}