.form__input {
  color: gray;
  background-color: #e0ebeb;
  padding: 5px;
  border-radius: 10px;
  width: 40%;
  text-align: center;
}

.form__input:hover {
  cursor: pointer;
  background-color: #edf7f7;
  font-weight: bold;
}

.form__input:active {
  font-weight: bold;
}